* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  }

header {
  height: 200px;
  width: 100%;
  background-color: yellow;
}

#container::after {
  content: "";
  display: table;
  clear: both;
  margin: 30px 0;
}

.colonnasx {
  /* display: inline-block; */
  float: left;
  width: 25%;
  height: 400px;
  background-color: #ff66ff;
}

.colonnacentro {
  display: inline-block;
  width: 40%;
  height: 600px;
  background-color: #990099;
}

.colonnadx {
  /* display: inline-block; */
  float: right;
  width: 35%;
  height: 600px;
  background-color: #ff66ff;

}


footer {
  height: 200px;
  width: 100%;
  background-color: lightblue;

}
